<div class="main-content">
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Alumni</h4>
            <p class="card-category">Sistema de Documentos ESPE.</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h2>DATOS NO ENCONTRADOS:</h2>
                    <div class="alert alert-primary">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                            <b> PRIMERO - </b> Usted es un estudiante antiguo </span>
                    </div>
                    <div class="alert alert-primary">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                            <b> SEGUNDO - </b> No se migró la información a la Base de datos.</span>
                    </div>
                    <div class="alert alert-primary">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                            <b> TERCERO - </b> Se eliminaron datos o no se encuentra registrado en el sistema
                            .</span>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="../../assets/img/mensajes/imformacion.png" alt=""
                        class="img img-fluid pull-center"  >
                </div>
            </div>
        </div>
    </div>
</div>
</div>

