<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <!-- Copyright -->
            <div class="col-md-6 text-center text-sm-center text-md-left text-lg-left">
                <img src="../../../assets/img/tim_80x80.png" alt="ESPE" width="16px"> José Obando - {{test | date: 'yyyy'}}
            </div>
            <!-- Copyright -->
            <div class="col-md-6 text-center text-sm-center text-md-right text-lg-right">
                <img src="../../../assets/img/angular2-logo-red.png" alt="ESPE" width="16px">
                Version: {{version}} &copy; Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>