<div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
          <img src="../../../assets/img/angular2-logo-white.png" />
      </div>
    </a>
    <a class="simple-text logo-normal">
        INVENTARIO
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">

            </span>
        </form>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems2" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>


</div>