<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header-warning card text-white text-center ">
                <h3 class="card-title">
                    <i class="material-icons" style="float: right">badge</i>Inventario de Vacunación de Empleados
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header card text-white bg-primary">
                                    Instrucciones:
                                </div>
                                <section>
                                    <div class="col-md-12">
                                        <span class="text-center">
                                            <i class="material-icons">app_registration</i>
                                            <b> PRIMERO - </b>Dar click al boton registrarse.</span>
                                    </div>
                                </section>
                                <br />
                                <section>
                                    <div class="col-md-12">
                                        <span class="text-center">
                                            <i class="material-icons">check_circle</i>
                                            <b> SEGUNDO - </b>Una vez registrado tus datos, podras editar la información
                                            que sea
                                            pertinente.</span>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button mat-raised-button (click)="registrarse()"
                            class="btn btn-success btn-round btn-md "> <i _ngcontent-c2=""
                                class="material-icons">double_arrow</i> REGISTRARSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>